/* Style Sheet */

* {
    margin: 0;
}

:root {
      background: rgb(31, 99, 83);
    --button-color: rgb(0, 60, 0);
    --button-hover: rgb(31, 99, 83);
    --button-text: white;
    --border-color:rgb(0, 60, 0);
    --background-comp: rgb(240, 226, 191);
    --p-text-size: 25px;
    --h2-text-size: 70px;
    --general-font-color: rgb(0, 0, 0);
    --answer-choice-size: 55px;
}

 body {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

/* Nav Bar -------------------------------------------------- */
 nav {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: space-between;
    right: 0;
    top: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: var(--general-font-color);
    font-weight: bold;
    background-color: var(--background-comp);
    border-bottom: solid 10px var(--border-color);
 }

 nav details {
    margin-left: 1%;
    font-size: 35px;
 }

 nav time {
    margin-right: 1%;
    font-size: 35px;
 }
 /* Nav Bar -------------------------------------------------- */




/*  Start Page -------------------------------------------------- */
 header {
    display: flex;
    flex-direction: column;
    margin-top: -5%;
    padding: 5% 5% 5% 5%;
    background-color: var(--background-comp);
    border: solid 10px var(--border-color);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;

 }

 header h1 {
    display: flex;
    color:var(--general-font-color);
    font-size: calc(var(--h2-text-size) + 25px);

 }

 header p {
    display: flex;
    justify-content: center;
    font-size: var(--p-text-size);
    margin: 3% 0;
 }

 header div {
    display: flex;
    justify-content: center;
    width: 100%;
 }

 header div button {
    padding: 1% 5%;
    border-color: var(--button-hover);
    background-color: var(--button-color);
    color: var(--button-text);
 }

 header div button:hover {
     background-color: var(--button-hover);
 }
 /*  Start Page -------------------------------------------------- */


 main {
    display: flex;
    color: var(--general-font-color) ;
    width: 50%;
 }

 /*  Quiz Page -------------------------------------------------- */
 section {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: -5%;
    padding: 5% 5% 5% 5%;
    background-color: var(--background-comp);
    border: solid 10px var(--border-color);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
 }

 section h2 {
    padding-left: 6%;
    font-size: var(--h2-text-size);
 }

 .answer-choices {
    font-size: var(--answer-choice-size);
    list-style-type: upper-alpha;
    margin-top: 5%;
    margin-left: 5%;
 }

 .answer-choices li{
   font-size: var(--answer-choice-size);
   list-style-type: upper-alpha;
   margin-top: 5%;
   margin-left: 5%;
   text-decoration: none;
}

  .answer-choices li a{
   text-decoration: none;
   color: var(--p-text-size);
   font-weight:530;
  }


 #question-one {
    display: flex;
    flex-direction: column;

 }

 #question-two {
    display: flex;
    flex-direction: column;

    
 } 

 .not {
    font-weight: 900;
    font-style: oblique;
 }

 #question-three {
    display: flex;
    flex-direction: column;

 } 

 #question-four {
    display: flex;
    flex-direction: column;

    
 }

 /*  Quiz Page -------------------------------------------------- */





 /*  Quiz End Page -------------------------------------------------- */
 summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -5%;
    padding: 5% 5% 5% 5%;
    background-color: var(--background-comp);
    border: solid 10px var(--border-color);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;


    
 }

 h3 {
    display: flex;
    justify-content: center;
    font-size: var(--h2-text-size);
 }
 
 summary p {
    display: flex;
    justify-content: center;
    font-size: var(--p-text-size);
    padding-top: 1%;
    padding-bottom: 2%;
 }

 form #submit-score {
    display: flex;
    justify-content: flex-end;
    margin-left: 2%;  
 }

 #submit-results {
   border-color: var(--button-hover);
   background-color: var(--button-color);
   color: var(--button-text);
 }

 #submit-results:hover {
   background-color: var(--button-hover);
 }

 summary form {
    /* box-sizing: border-box; */
    display: flex;
    padding: 0;
    margin-right: 1%;
    margin-top: 2%;
    justify-content: center; 
    font-size: var(--p-text-size);
}

/*  Quiz End Page -------------------------------------------------- */




 /* HiScore Page -------------------------------------------------- */
  aside {
    display: flex;
    flex-direction: column;;
    width: 100%;
    margin-top: -5%;
    padding: 5% 5% 5% 5%;
    background-color: var(--background-comp);
    border: solid 10px var(--border-color);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    
  }

  h4 {
    display: flex;
    justify-content: center;
    font-size: var(--h2-text-size);

  }

  aside p {
    display: flex;
    justify-content: center;
    margin:3% 0;
  }

  aside div{
    display: flex; 
    justify-content: center;
  }

  aside button {
    margin: 0 3%;
    padding: 0 2%;
    border-color: var(--button-hover);
    background-color: var(--button-color);
    color: var(--button-text);
  }

  aside button:hover {
   background-color: var(--button-hover);
  }

   /* Hiscore Dropdown */
  .dropdown-button {
   border-color: var(--button-hover);
   background-color: var(--button-color);
   color: var(--button-text);
  }

  .dropdown-button:hover, .dropdown-button:focus {
   background-color: var(--button-hover);
  }


/*  HiScore Page -------------------------------------------------- */


